<div class="hidden addCharacter">
  <h1>Character Creation</h1>
  <input type="text" placeholder="Character Name" id="charName" class="createChar">
  <input type="text" placeholder="Character Age" id="charAge" class="createChar">
  <input type="text" placeholder="Fruit Name" id="charFruit" class="createChar">
  <input type="text" placeholder="Fruit Type" id="charFruitType" class="createChar">
  <input type="text" placeholder="Strength" id="charHaki" class="createChar">
  <input type="text" placeholder="Haki Type" id="charHakiType" class="createChar">
  <input type="text" placeholder="Current Rank" id="charRank" class="createChar">
  <input type="text" placeholder="Image URL" id="imgURL" class="createChar">
  <!-- <input type="file" placeholder= "Image" id="imgURL" class="createChar" accept="image/*"> -->
  <input type="text" placeholder="Bounty" id="bounty" class="createChar">
  <input type="text" placeholder="General location (e.g. Grand Line)" id="location" class="createChar">
  <input type="text" placeholder="Specific location (e.g. Zou)" id="specificLocation" class="createChar">
  <input type="text" placeholder="Number of abilities" id="numAbilities" class="createChar">
  <label for="isPirate">Pirate</label><input type="checkbox" id="isPirate" class="createChar">
  <label for="isMarine">Marine</label><input type="checkbox" id="isMarine" class="createChar">
  <button id="addCharBtn">Submit</button>
  <button class="closeIt">X</button>
</div>
<span id="userID" class="hidden"><%=user.userID%></span>