<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/profileusersettings.css">
  <link rel="stylesheet" href="/css/generalheader.css">
  <link rel="stylesheet" href="/css/profilepagemenu.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Secular+One&display=swap" rel="stylesheet">
  <title>One Piece Realm</title>
</head>
<body>
  <main>
    <section id="profilePage">
      <section id="userSettings">
        <form action="/myprofile/email?_method=PUT" method="POST" id="emailForm">
          <label for="email">Email</label>
          <input type="text" name="email" id="emailInput" value="<%=user.email%>">
          <button type="submit">Change</button>
        </form>
        <nav id="menuContainer">
          <div>General</div>
          <div><a href="/myprofile">My Profile</a></div>
          <div><a href="/myprofile/changeusername">Change Username</a></div>
          <div><a href="/myprofile/changeemail">Change Email</a></div>
          <div><a href="/myprofile/changepassword">Change Password</a></div>
          <div><a href="/home">Home Page</a></div>
          <div><a href="/">Welcome Page</a></div>
        </nav>
      </section>
    </section>
  </main>
  <header id="header">
    <section id="leftSection">
      <a href="/">One Piece Realm</a>
    </section>
  </header>
</body>
</html>