<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join the Realm!</title>
</head>
<body>
  <h1><%=welcomeMsg%></h1>
  <form id="signIn" class="hidden" action="/signin" method="post">
    <%- include('./partials/messages.ejs') %>
    <section>
      <label for="username">Username/E-mail:</label>
      <input type="text" placeholder="E-Mail" id="username" name="email">
    </section>
    <section>
      <label for="password">Password:</label>
      <input type="password" placeholder="Password" id="password" name="password">
    </section>
    <button type="submit" id="signInBtn">Sign In</button>
    <span>New?</span><a href="/page/signup" id="signUp">Sign Up</a>
  </form>
  <script src="/js/loginpage.js"></script>
</body>
</html>