<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/searchcards.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Secular+One&display=swap" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  <title>One Piece Universe</title>
</head>
<body>
  <main>
  <section id="homePage">
    <section id="search-cards">
        <input id="searchBar" type="text" placeholder="Search...">
        </input>
        <button id="clear-search">X</button>
    </section>
    <section class="cardSection"> 
    </section>
  </section>
  </main>
  <%if(typeof user !== 'undefined'){%>
    <div class="hidden addCharacter">
      <input type="text" placeholder="Character Name" id="charName" class="createChar">
      <input type="text" placeholder="Character Age" id="charAge" class="createChar">
      <input type="text" placeholder="Fruit Name" id="charFruit" class="createChar">
      <input type="text" placeholder="Fruit Type" id="charFruitType" class="createChar">
      <input type="text" placeholder="Haki Strength" id="charHaki" class="createChar">
      <input type="text" placeholder="Haki Type" id="charHakiType" class="createChar">
      <input type="text" placeholder="Current Rank" id="charRank" class="createChar">
      <input type="text" placeholder="Image URL" id="imgURL" class="createChar">
      <!-- <input type="file" placeholder= "Image" id="imgURL" class="createChar" accept="image/*"> -->
      <input type="text" placeholder="Bounty" id="bounty" class="createChar">
      <input type="text" placeholder="General location (e.g. Grand Line)" id="location" class="createChar">
      <input type="text" placeholder="Specific location (e.g. Zou)" id="specificLocation" class="createChar">
      <input type="text" placeholder="Number of abilities" id="numAbilities" class="createChar">
      <label for="isPirate">Pirate</label><input type="checkbox" id="isPirate" class="createChar">
      <label for="isMarine">Marine</label><input type="checkbox" id="isMarine" class="createChar">
      <button id="addCharBtn">Submit</button>
      <button class="closeIt">X</button>
    </div>
    <span id="userID" class="hidden"><%=user.userID%></span>
  <%}%>
  <%if(typeof user === 'undefined'){%>
    <a href="/page/signin" id="signInFirst"></a>
  <%}%>
  <div id="characterMoreInfo" class="hidden">
    <div id="characterSummary">
      <img id="bountyImg" src="" atl="Bounty" class="hidden"></img>
      <p id="charDesc"></p>
      <button class="closeSeeMore">X</button>
    </div>
    <div id="characterAbilitiesDesc">
    </div>
    <section id="commentSection">
      <div id="commentsTitle">
        <span>Comments</span>
      </div>
      <%if(typeof user !== 'undefined'){%>
        <form action="/home/postcomment" method="POST" id="postCommentForm">
          <input type="text" name="comment" id="comment" placeholder="Comment...">
          <input type="text" name="cardID" id="cardID" class="hidden" value="">
          <button type="submit" id="postComment">Post</button>
        </form>
      <%}%>
      <div id="comments">
      </div>
    </section>
  </div>
  <%-include('./partials/header.ejs')%>
    <div id="overlay" class="hidden"></div>
    <div class="dontmindme hidden"></div>
  <script src="/js/searchcards.js"></script>
</body>
</html>