<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/card_see_more.css">
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/searchcards.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Secular+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <script
  src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
  crossorigin="anonymous"></script>
  <title>One Piece Universe</title>
</head>
<body>
  <main>
  <section id="homePage">
    <section id="search-cards">
        <input id="searchBar" type="text" placeholder="Search...">
        </input>
        <button id="clear-search">X</button>
    </section>
    <section class="cardSection"> 
    </section>
  </section>
  </main>
  <%if(typeof user !== 'undefined'){%>
    <div class="hidden addCharacter">
      <h1>Character Creation</h1>
      <input type="text" placeholder="Character Name" id="charName" class="createChar">
      <input type="text" placeholder="Character Age" id="charAge" class="createChar">
      <input type="text" placeholder="Fruit Name" id="charFruit" class="createChar">
      <input type="text" placeholder="Fruit Type" id="charFruitType" class="createChar">
      <input type="text" placeholder="Haki Strength" id="charHaki" class="createChar">
      <input type="text" placeholder="Haki Type" id="charHakiType" class="createChar">
      <input type="text" placeholder="Current Rank" id="charRank" class="createChar">
      <input type="text" placeholder="Image URL" id="imgURL" class="createChar">
      <!-- <input type="file" placeholder= "Image" id="imgURL" class="createChar" accept="image/*"> -->
      <input type="text" placeholder="Bounty" id="bounty" class="createChar">
      <input type="text" placeholder="General location (e.g. Grand Line)" id="location" class="createChar">
      <input type="text" placeholder="Specific location (e.g. Zou)" id="specificLocation" class="createChar">
      <input type="text" placeholder="Number of abilities" id="numAbilities" class="createChar">
      <label for="isPirate">Pirate</label><input type="checkbox" id="isPirate" class="createChar">
      <label for="isMarine">Marine</label><input type="checkbox" id="isMarine" class="createChar">
      <button id="addCharBtn">Submit</button>
      <button class="closeIt">X</button>
    </div>
    <span id="userID" class="hidden"><%=user.userID%></span>
  <%}%>
  <%if(typeof user === 'undefined'){%>
    <a href="/page/signin" id="signInFirst"></a>
  <%}%>
  <div id="characterMoreInfo" class="hidden">
    <div id="characterSummary">
      <img id="bountyImg" src="" atl="Bounty" class="hidden"></img>
      <p id="charDesc"></p>
      <button class="closeSeeMore">X</button>
    </div>
    <form action="" method="POST" id="like-card-form">
      <button type="submit" id="like-card-button"><span class="material-symbols-outlined">
        thumb_up
        </span></button>
      <span></span>
    </form>
    <div id="characterAbilitiesDesc">
    </div>
    <section id="commentSection">
      <div id="commentsTitle">
        <span>Comments</span>
      </div>
      <%if(typeof user !== 'undefined'){%>
        <section id="postCommentForm">
          <input type="text" id="comment" placeholder="Comment...">
          <button id="postComment">Post</button>
        </section>
      <%}%>
      <div id="comments">
      </div>
    </section>
  </div>
  <header id="header">
    <section id="leftSection">
      <div id="grand-title">
        <a href="/"></a>
        <div id="left-navigation-dropdown"><span>&#129171</span>
          <div id="left-navigation-menu" class="hidden">
            <div id="learn-more-container">
              <a href="https://onepiece.fandom.com/wiki/One_Piece_Wiki">
                Learn More
              </a>
            </div>
            <div id="manga-container">
              <a href="https://www.viz.com/shonenjump/chapters/one-piece">
                Manga
              </a>
            </div>
            <div id="watch-container">
              <a href="https://beta.crunchyroll.com/series/GRMG8ZQZR/one-piece">
                Watch
              </a>
            </div>
            <div id="search-container">
              <a href="/home/searchcards">
                Search
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="left-navigation">
        <div id="learn-more-container">
          <a href="https://onepiece.fandom.com/wiki/One_Piece_Wiki">
            Learn More
          </a>
        </div>
        <div id="manga-container">
          <a href="https://www.viz.com/shonenjump/chapters/one-piece">
            Manga
          </a>
        </div>
        <div id="watch-container">
          <a href="https://beta.crunchyroll.com/series/GRMG8ZQZR/one-piece">
            Watch
          </a>
        </div>
        <div id="search-container">
          <a href="/home/searchcards">
            Search
          </a>
        </div>
      </div>
    </section>
    <section id="rightSection">
      <button id="createChar">
        Create
        <div class="tooltip">Create a card</div>
      </button>
      <%if(typeof user === 'undefined'){%>
        <a href="/page/signin"><button class="signInBtn">Sign In</button></a>
      <%}%>
      <%if(typeof user !== 'undefined'){%>
        <div id="profilePictureContainer">
          <div id="something-new" class="hidden">!</div>
          <img id="profilePicture" src="<%=user.profilePicture%>" alt="Profile">
          <div id="profileMenu" class="">
            <div id="currentUser">
              <img id="profilePictureInMenu" src="<%=user.profilePicture%>" alt="Profile">
              <span><%=user.userName%></span>
            </div>
            <div id="actualMenu">
              <div id="myProfile">
                <a href="/myprofile">My Profile</a>
              </div>
              <div id="helpContainer">
                <a id="help">Help</a>
              </div>
              <div id="inboxContainer">Inbox
                <div id="inbox-notification"></div>
              </div>
              <div id="inbox" class="hidden">
              </div>
            </div>
            <div id="signOutSection">
              <a href="/signout"><button class="signOut">Sign Out</button></a>
            </div>
          </div>
        </div>
      <%}%>
    </section>
  </header>
    <div id="overlay" class="hidden"></div>
    <div class="dontmindme hidden"></div>
  <script src="/js/main.js"></script>
  <script src="/js/card_see_more.js"></script>
  <script src="/js/searchcards.js"></script>
  <script src="/js/header.js"></script>
</body>
</html>