<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>One Piece Realm</title>
</head>
<body>
  <h1>Sign Up<h1>
<form action="/signup/newuser" method="post">
  <section>
    <label for="username">Username/E-mail</label>
    <input type="text" placeholder="E-Mail" id="username" name="username">
  </section>
  <section>
    <label for="password">Password</label>
    <input type="text" placeholder="Password" id="password" name="password">
  </section>
  <section>
    <label for="confpassword">Confirm</label>
    <input type="text" placeholder="Password" id="confpassword" name="confpassword">
  </section>
  <button type="submit">Sign Up</button>
</form>
</body>
</html>