<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time to explore!</title>
</head>
<body>
 <main>
    <section>
      <div><a href="/home">Home </a></div>
    </section>
    <section>
      <div>Map</div>
    </section>
    <section>
      <div><a href="/page/signin">Sign In</a></div>
    </section>
 </main>
</body>
</html>