<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/welcome_page.css">
  <title>Time to explore!</title>
</head>
<body>
 <main class="welcome-page-wrapper">
  <img src="/images/signin_logo1.png">
  <%- include('./partials/messages.ejs') %>
    <section>
      <div><a href="/home">Home </a></div>
    </section>
    <%if(typeof user === 'undefined'){%>
      <section>
        <div><a href="/page/signin">Sign In</a></div>
      </section>
    <%}%>
 </main>
</body>
</html>