/*--------------Featured Character Cards------------------*/
#featured-cards-section{
background: black;
min-height: 600px;
width: 100%;
display: flex;
justify-content: start;
align-items: center;
overflow: hidden;
scroll-snap-type: x mandatory;
scroll-behavior: smooth;
position: relative;
}

.cardInfo, .characterCard{
  display: flex;
  color: black;
  flex-direction: column;
}

.cardInfo{
  justify-content: start;
  align-items: flex-start;
}

.featured-card{
  width: 20%;
  min-width: 400px;
  height: auto;
  border-radius: 10px;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border: 1px solid black;
  background-image: url("/images/rocks.webp");
  position: relative;
}

.featured-card-info, .featured-card-name, .featuredCardImg, .featured-card-haki{
  border: 2px solid goldenrod;
  background-image: url("/images/marble.webp");
  width: 23rem;
}

.featured-card-info{
  width: 99%;
  font-size: 1rem;
  line-height: 180%;
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: -1%;
}

.featured-card-name, .featured-card-haki{
  width: 103%;
  padding: 0.5% 0 0.5% 1.5%;
  border-radius: 10px;
  margin-left: -2.7%;
}

.featured-card-name span, .featured-card-haki span{
  font-size: 1.3rem;
}

.featured-card-img{
  margin-left: -1.2%;
}

.featured-card-img > img{
  width: 100.5%;
  height: 14rem;
  object-fit: cover;
  object-position: top;
  margin-bottom: -2%;
}

.featured-cards{
  min-height: 100%;
  min-width: 100%;
  padding: 3% 0 5% 41%;
  /* background: rgba(255, 136, 0, 0.9); */
  background-image: url('/images/carousel_background5.webp');
  scroll-snap-align: start;
}

.fruitImg{
  width: 5%;
  margin-right: 0.5%;
}

.featured-card-fruitname, .featured-card-fruittype, 
.featured-card-bounty, .featuredCardRank{
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 3px;
}

.characterInfo{
  cursor: pointer;
  transition: color 0.15s;
}

.characterInfo:hover{
  color: rgb(101, 204, 238);
}

/*----------- Featured Cards Carousel -----------------*/
#featured-navigation{
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 1;
}

#featured-navigation a{
  text-decoration: none;
  color: orange;
  cursor: pointer;
}

#featured-card1-background, #featured-card3-background{
  /* background:rgb(49, 59, 70); */
  background-image: url('/images/carousel_background6.webp');
}

#scroll-left{
  position: absolute;
  left: 36%;
  top: 35%;
}

#scroll-right{
  position: absolute;
  right: 32%;
  top: 35%;
}
