/*----------------More info on character-----------------*/
#characterMoreInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  background-color: rgb(58, 58, 58);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  overflow-y: scroll;
  scrollbar-color: blue;
  row-gap: 5rem;
  z-index: 1;
}

#characterAbilitiesDesc{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  row-gap: 5rem;
}

#bountyImg{
  width: 100%;
  object-fit: fill;
}

#characterMoreInfo > div, #characterAbilitiesDesc > div{
  position: relative;
  width: 95%;
}

#characterSummary{
  width: 50% !important;
}

#charDesc{
  font-size: 1.5rem;
}

#editSeeMoreButton, .closeSeeMore{
  position: absolute;
  top: 0; 
}

#editSeeMoreButton{
  left: -47%;
  margin-top: 2%;
}

.closeSeeMore{
  right: -47%;
  bottom: 100% !important;
  margin-top: 2%;
}

.abilityTrailerContainer{
  float: left;
  width: 27rem;
  height: 27rem;
  margin: 0 2rem 0 0;
}

.abilityTrailer, .abilityImage{
  width: 100%;
  height: 100%;
}

.abilityImage{
  object-fit: fill;
}

.abilityDiv > pre, .abilityDiv > span{
  font-family: Secular One, Arial;
}

.abilityDiv{
  width: 50% !important;
}

.abilityDiv > p{
  line-height: 2rem;
  letter-spacing: 2px;
  font-size: 1rem;
}

#like-card-form{
  position: absolute;
  top: 20%;
  left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#like-card-form > span{
  font-size: calc(1.5rem * 0.8);
  padding-bottom: 5px;
}

#like-card-button > span{
  font-size: 36px;
}

#like-card-button:hover{
  color: white;
}

/*Comment Section*/
#commentSection{
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5%;
  font-family: Arial;
  margin-bottom: 10%;
}

#commentsTitle{
  width: 80%;
  border-bottom: 2px solid grey;
  font-size: 2rem;
}

#postCommentForm{
  width: 80%;
  margin-bottom: 10px;
}

#postComment{
  font-size: 1.5rem;
}

#comments, .commentContainer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 80%;
}

#comments{
  row-gap: 5%;
}

.commentContainer{
  width: 100%;
  height: 80%;
}

.whoPosted{
  display: flex;
  align-items: center;
  column-gap: 7%;
}

.whoPosted a{
  text-decoration: none;
  color: white;
}

.userPic{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.cardComment{
  padding-left: 5%;
}

.upvoteContainer{
  padding-left: 4%;
}

.cardComment{
  margin-top: 0;
  font-size: 0.95rem;
}

.upvotePic{
  width: 25px;
}

#comment, #reply{
  width: 80%;
  border: none;
  outline: none;
  outline-color: rgba(0, 0, 0, 0.7);
  height: 50%;
  background: rgba(0, 0, 0, 0);
  padding: 1% 0 1% 2%;
  font-size: 1rem;
  color: white;
  transition: border 0.15s;
}

#comment{
  font-size: calc(1.5rem * 0.8);
}

#comment::placeholder, #reply::placeholder{
  color: white;
}

#comment:hover, #reply:hover{
  border-bottom: 1px solid white;
}

#comment:focus, #reply:focus{
  border-bottom: 2px solid white;
}

.likeReplyContainer, .postReplyForm{
  display: flex;
  align-items: center;
}

.likeReplyContainer{
  width: 100%;
  height: 50%;
  column-gap: 35px;
}

.upvoteButton, .upvote-reply{
  position: relative;
  z-index: 1;
}

.upvoteButton .comment-like-button, .upvote-reply .reply-like-button{
  font-size: calc(1.2rem * 0.8);
  position: absolute;
  right: -1rem;
  top: 10px;
}

.postReplyForm{
  width: 70%;
}

.postReply{
  font-size: 1rem;
}

#reply{
  width: 50%;
}

.replyButton{
  cursor: pointer;
  transition: color 0.15s;
  margin-bottom: 3px;
  padding-left: 4%;
  margin-top: 1%;
}

.repliesContainer{
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 15px;
}

.actualReplyContainer{
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.commentReply{
  padding-left: 8%;
  margin-top: 0;
  font-size: 0.95rem;
}