header{
  background: rgba(255, 0, 0, 0.9);
  top: 0;
  left: 0;
  right: 0;
  height: 77px;
  position: fixed;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

#leftSection > a{
  color: white;
  font-size: 4rem;
  text-decoration: none;
}