header{
  background: rgba(19, 19, 19, 1);
  top: 0;
  left: 0;
  right: 0;
  height: 77px;
  position: fixed;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*------------------------- Left Section -------------------------*/
#leftSection, #left-navigation, #grand-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#leftSection{
  width: 50%;
  height: 100%;
}
#left-navigation{
  width: 65%;
  height: 100%;
}
#learn-more-container, #manga-container, 
#watch-container, #search-container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  transition: background 0.15s;
}

#learn-more-container:hover, #manga-container:hover, 
#watch-container:hover, #search-container:hover{
  background: rgba(255, 255, 255, 0.2);
}

#learn-more-container:active, #manga-container:active, 
#watch-container:active, #search-container:active{
  background: rgba(255, 255, 255, 0.4);
}

#left-navigation a{
  color: white;
  font-size: calc(0.4vw + 0.5rem);
  text-decoration: none;
  cursor: pointer;
}

#grand-title{
  width: 300px;
  padding-left: 3%;
  margin-right: 30px;
  height: 100%;
}

#grand-title > a{
  color: rgb(255, 187, 0);
  font-size: 2rem;
  text-decoration: none;
}

/*Drop down menu*/
#left-navigation-dropdown{
  height: 50px;
  width: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#left-navigation-dropdown > span{
  color: white;
  font-size: 2rem;
  margin-top: 25px;
}

#left-navigation-menu{
  background: rgba(19, 19, 19, 1);
  width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -114px;
  left: -47px;
  padding: 5px;
  font-size: calc(1rem * 0.8);
  gap: 5px;
}

#left-navigation-menu a{
  text-decoration: none;
  color: white;
}

/*------------------------ Right Section ---------------------- */
#rightSection{
  display: flex;
  align-items: center;
  column-gap: 15%;
  padding-right: 60px;
}

#signInFirst{
  position: absolute;
  top: 1%;
  right: 11.5%;
  width: 6%;
  height: 5.5%;
  z-index: 1;
}

#createChar, .signInBtn, .signOut{
  color: white;
  font-size: calc(2rem * 0.8);
  border: 1px solid azure;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  transition: opacity 0.15s;
  position: relative;
}

#createChar:hover, .signInBtn:hover, .signOut:hover{
  opacity: 0.8;
}

#createChar:active, .signInBtn:active, .signOut:active{
  opacity: 1;
}

.signInBtn{
  width: 150%;
}

.signInBtn:hover, .signOut:hover{
  color: white;
}

.signOut{
  font-size: 1rem;
}

#profilePicture, #profilePictureInMenu{
  border: 1px solid grey;
  border-radius: 50%;
}

#profilePicture{
  height: 55px;
  width: 55px;
  cursor: pointer;
  object-fit: cover;
  object-position: top;
}

#profilePictureContainer:hover{
  background: rgb(25, 25, 32);
}

#profilePictureContainer{
  padding: 4% 4% 4% 4%;
  transition: background 0.05s;
  position: relative;
}

#something-new{
  position: absolute;
  top: -8%;
  right: 10%;
  font-size: 2rem;
  color: rgb(255, 0, 0);
}

#profilePictureContainer:target #profileMenu{
  height: 25%;
  width: 15%;
}

.colorMyBackground{
  background: rgb(25, 25, 32);
  /* border-right: 2px solid black; */
}

#profilePictureInMenu{
  height: 45px;
  width: 45px;
  object-fit: cover;
  object-position: top;
}

#profileMenu{
  position: fixed;
  top: 7.9%;
  right: 1.35%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  border-top: none;
  height: 0;
  width: 0;
  background: rgb(25, 25, 32);
  color: rgb(231, 231, 231);
  border-bottom-left-radius: 10px;
  opacity: 0;
  font-family: Secular One, Arial;
  transition: height 0.3s, width 0.3s, opacity 0.3s;
}

.expand{
  opacity: 1 !important;
  height: 25% !important;
  width: 300px !important;
}

#profileMenu div{
  display: flex;
}

#currentUser{
  width: 98% !important;
  height: 25%;
  justify-content: start;
  align-items: center;
  column-gap: 5%;
  padding: 2% 0 2% 2%;
  border-bottom: 2px solid rgb(68, 68, 68);
}

#actualMenu{
  flex-direction: column;
  height: 75%;
  width: 100%;
}

#actualMenu a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

#myProfile, #helpContainer, #inboxContainer{
  height: 40%;
  width: 98%;
  align-items: center;
  padding-left: 2%;
  color: rgba(255, 255, 255, 0.7);
  transition: opacity 0.15s, color 0.3s;
  cursor: pointer;
}

#myProfile:hover, #helpContainer:hover{
  background: rgba(124, 124, 124, 0.3);
  color: rgb(231, 231, 231);
}

#myProfile:active, #helpContainer:active{
  background: rgba(124, 124, 124, 0.7);
}

#signOutSection{
  height: 25%;
  justify-content: center;
  align-items: center;
}

 /* ---------- Inbox Messages -------------- */
  #inboxContainer{
    position: relative;
  }

  #inbox, .new-comments{
    display: flex;
    flex-direction: column;
  }

  #inbox{
    justify-content: start;
    align-items: flex-start;
    position: absolute;
    left: -205.3%;
    top: 1%;
    height: 150%;
    width: 200%;
    row-gap: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(25, 25, 32);
    padding: 5% 0 5% 5%;
    cursor: default;
  }

  .new-comments{
    width: 95%;
    padding: 2% 0 2% 2%;
    border: 2px solid grey;
    position: relative;
  }

  .who-commented{
    display: flex;
    align-items: center;
    column-gap: 3%;
  }

  .who-commented span, .new-comment-inbox, .card-title{
    font-family: Arial;
  }

  .new-comment-inbox{
    padding-left: 12%;
    margin-top: 0;
    font-size: 0.95rem;
    
  }

  .card-title{
    justify-content: center;
  }

  .mark-as-seen{
    position: absolute;
    top: 0;
    right: 1%;
  }

  #inbox-notification{
    height: 28%;
    width: 5%;
    border: 2px solid red;
    border-radius: 50%;
    background: red;
    color: white;
    padding-left: 5px;
    padding-bottom: 7px;
    font-size: 1rem;
    position: absolute;
    right: 5%;
  }

/* Tooltips */
#createChar .tooltip, 
#profilePictureContainer .tooltip{
  position: absolute;
  bottom: -40px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 8px 10px 8px 10px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  white-space: nowrap;
  }

  #profilePictureContainer .tooltip{
    bottom: -25px;
  }

  #createChar:hover .tooltip,
  #profilePictureContainer:hover .tooltip{
    opacity: 1;
  }

/* --------------------- Responsive Font Size ------------------------ */
@media only screen and (max-width: 1260px){
  #createChar, .signInBtn, .signOut{
    font-size: calc(1rem * 0.8);
  }

  #grand-title{
    width: 100px;
    padding-left: 3%;
    margin-right: 0;
    height: 100%;
  }

  #left-navigation{
    display: none;
  }

  #profilePicture, #profilePictureInMenu{
    height: 35px;
    width: 35px;
  }

  #rightSection{
    padding-right: 25px;
  }

  #profileMenu{
    top: 7%;
    right: 0.9%;
  }

  #inbox{
    left: -64.8%;
    top: 219px;
    height: 150%;
    width: 480px;
  }
}

@media only screen and (min-width: 1260px){
  #left-navigation-dropdown{
    display: none;
  }
}

  