p{
  color: rgb(255, 187, 0);
  letter-spacing: 1px;
  font-size: 1rem;
}

#page-title{
  display: flex;
   justify-content: center;
   align-items: center;
}

#page-title h1{
  font-size: 2.5rem;
}

ul{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}

.questions-container, .question{
  width: 100%;
}

.answer{
  width: 80%;
  overflow-x: auto;
}
