@import url('/css/reset_css.css');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Secular+One&display=swap');

body{
  background: linear-gradient(to right , rgb(70, 70, 70), rgb(94, 94, 94));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Secular One', Arial;
}

.login-wrapper{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 600px;
  width: 450px;
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}

.login-wrapper::before{
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  inset: 0;
  transform: rotate(-5deg);
  z-index: -1;
  height: 600px;
  width: 450px;
}

.login-wrapper h1{
  font-size: calc(2rem * 0.8);
}

.login-wrapper img{
  width: 40%;
}

#signIn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin-top: 1.5rem;
}

.login-inputs{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.login-inputs input{
  background: rgba(255, 255, 255, 0.3);
  padding: 0.8rem 3.5rem;
  width: 100%;
  border-radius: 20px;
  transition: background 0.15s;
}

.login-inputs span{
  position: absolute;
  left: 20px;
  opacity: 0.5;
  transition: background 0.15s;
}

.login-inputs input:hover{
  background: rgba(255, 255, 255, 0.7);
}

.login-inputs input:focus{
  background: rgba(255, 255, 255, 0.7);
}

.login-inputs:hover span{
  opacity: 1;
}

#signInBtn{
  background: rgba(255, 187, 0, 0.8);
  padding: 0.7rem 0.3rem;
  width: 75%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#signInBtn:hover{
  background: rgba(255, 187, 0, 1);
}

#signInBtn:active{
  transform: scale(0.8);
}

#login-new{
  display: flex;
  justify-content: center;
  gap: 0.18rem;
}

#login-new a{
  color:rgb(43, 0, 199);
  transition: all 0.15s;
}

#login-new a:hover{
  text-decoration: underline;
}

/* --------------------------- Responsive ---------------------------------- */
@media only screen and (max-width: 800px){
  .login-wrapper{
    width: 380px;
  }

  .login-wrapper:before{
    width: 380px;
  }
}