/*--------------Character Cards------------------*/
#searchedCards{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10%;
  padding-top: 5%;
  position: relative;
}

.cardInfo, .characterCard{
  display: flex;
  color: black;
  flex-direction: column;
}

.cardInfo{
  justify-content: start;
  align-items: flex-start;
}

.characterCard{
  width: 20rem;
  height: 23rem;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid black;
  background-image: url("/images/rocks.webp");
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
  position: relative;
}

.cardInfo, .cardName, .cardImg, .cardHaki{
  border: 2px solid goldenrod;
  background-image: url("/images/marble.webp");
}

.cardInfo{
  width: 96%;
  font-size: 0.8rem;
  padding-left: 1%;
  line-height: 180%;
  position: relative;
}

.cardName, .cardHaki{
  width: 99%;
  padding: 0.5% 0 0.5% 2%;
  border-radius: 10px;
}

.cardImg{
  width: 19.5rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  margin-bottom: -2.5%;
}

.cardSection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  min-height: 100%;
  padding: 2% 3% 2% 10%;
  justify-content: center;
}

.fruitImg{
  width: 5%;
  margin-right: 0.5%;
}

.cardFruitName, .cardFruitType, .cardBounty, .cardRank{
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 3px;
}

.editCard{
  border: none;
  background: rgba(255, 255, 255, 0);
  padding: -1px;
  width: 8%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.editImg{
  width: 130%;
}

.characterInfo{
  cursor: pointer;
  transition: color 0.15s;
}

.characterInfo:hover{
  color: rgb(101, 204, 238);
}

/*----------------Search bar------------------------*/
#search-cards{
  width: 30%;
  margin-bottom: 2%;
  margin-top: 2%;
  position: relative;
}

#searchBar{
  font-family: Arial;
  font-size: 1.5rem;
  width: 80%;
  padding: 0.5%;
  padding-left: 1%;
  padding-right: 20%;
  margin-bottom: 10px;
  border: none;
  background: rgba(0, 0, 0, 0);
  outline: none;
  color: black;
  border-bottom: 2px solid rgba(255, 166, 0, 0.4);
}

#searchBar::placeholder{
  color: black;
}

#searchBar:hover{
  border-bottom: 2px solid rgba(255, 166, 0, 0.7);
}

#searchBar:focus{
  border-bottom: 3px solid rgba(255, 166, 0, 1);
}

#clear-search{
  color: black;
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 3%;
}

/* -------------------- Responsive --------------------------*/
@media only screen and (max-width: 800px){
  #search-cards{
    width: 350px;
    margin-bottom: 5%;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 768px){
  .cardSection{
    grid-template-columns: 1fr;
    padding: 7% 0 0 15%;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1140px){
  .cardSection{
    grid-template-columns: 1fr 1fr;
    padding: 7% 0 0 7%;
  }

  .characterCard{
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1140px) and (max-width: 1700px){
  .cardSection{
    grid-template-columns: 1fr 1fr 1fr;
    padding: 7% 0 0 10%;
  }

  .characterCard{
    margin-right: 20px;
  }
}

