/*--------------------General-----------------------*/
body{
  background: orange;
  overflow: hidden;
}

html{
  font-family: Secular One, Arial;
  font-weight: 700;
}

button, #addCharBtn{
  cursor: pointer;
}

 main{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100% - 67px);
  overflow-y: scroll;
  padding-top: 3%;
}  

button{
  border: none;
  font-family: Secular One, Arial;
  color: azure;
  transition: color 0.15s;
  background: rgba(0, 0, 0, 0);
  font-size: 2rem;
}

button:hover{
  color: blue;
}

/*--------------Character Cards------------------*/
.cardInfo, .characterCard{
  display: flex;
  color: black;
  flex-direction: column;
}

.cardInfo{
  justify-content: start;
  align-items: flex-start;
}

.characterCard{
  width: 20rem;
  height: 23rem;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid black;
  background-image: url("/images/rocks.webp");
  justify-content: center;
  align-items: center;
}

.cardInfo, .cardName, .cardImg, .cardHaki{
  border: 2px solid goldenrod;
  background-image: url("/images/marble2.webp");
}

.cardInfo{
  width: 96%;
  font-size: 0.8rem;
  padding-left: 1%;
  line-height: 180%;
  position: relative;
}

.cardName, .cardHaki{
  width: 99%;
  padding: 0.5% 0 0.5% 2%;
  border-radius: 10px;
}

.cardImg{
  width: 19.5rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  margin-bottom: -2.5%;
}

#cardSection, #cardSectionMarine, #cardSectionOthers{
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 3%;
  width: 95%;
  height: 440px;
  padding: 0 2rem 0 2%;
  overflow-x: scroll;
  padding: 0 0 0 1%; 
}

.fruitImg{
  width: 5%;
  margin-right: 0.5%;
}

.cardFruitName, .cardFruitType, .cardBounty, .cardRank{
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 3px;
}

.editCard{
  border: none;
  background: rgba(255, 255, 255, 0);
  padding: -1px;
  width: 8%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.editImg{
  width: 130%;
}

.characterInfo{
  cursor: pointer;
  transition: color 0.15s;
}

.characterInfo:hover{
  color: rgb(101, 204, 238);
}

.supreme{
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 1);
}

.legendary{
  box-shadow: 0px 0px 20px rgba(179, 32, 247, 1);
}

.mighty{
  box-shadow: 0px 0px 20px rgba(243, 243, 243, 1);
}

.cardSectionTitle{
  font-family: Acme, Arial;
  font-size: 5rem;
  margin: 0 0 0 0;
}

.pirateTitle{
  padding-top: 50%;
}

/*----------Forms-------------*/
.updateCard, .addCharacter, .updateSeeMore{
  background: rgba(37, 37, 37, 1);
  display: flex;
  position: absolute;
  top: 6%;
  left: 35%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: 45%;
  row-gap: 1rem;
  border-radius: 10px;
  overflow: auto;
  font-family: Secular One, Arial;
  color: white;
  padding: 1% 1% 1% 1%;
  z-index: 1;
}

.updateCard{
  height: 35% !important;
}


.updateSeeMore{
  padding: 1% 1% 1% 5% !important;
}

.closeIt, .closeSeeMore{
  border: none;
  font-family: Montserrat ExtraBold, Arial;
  color: white;
  font-size: 2rem;
  position: absolute;
  right: 3%;
  top: 2%;
  transition: color 0.15s;
}

#updateSeeMoreBtn, .updateSeeMoreExitBtn{
  position: fixed;
  right: 2%;
  margin-right: 24%
}

#updateSeeMoreBtn{
  top: 55%;
}

.updateSeeMoreExitBtn{
  top: 15%;
  right: 4%;
  margin-right: 24%
}

.closeIt:hover,.closeSeeMore:hover{
  color: red;
}

.cardDisplayInfo, .createChar{
  height: 2rem;
  width: 30rem;
  border-radius: 20px;
  padding: 0 0 0 1rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#abilityDescription, #charDescription{
  min-height: 50%;
  max-height: 70%;
  padding: 1rem;
}
/*-----------Navigation Bar--------------*/
#navigation, #navigation > ul{
  display: flex;
  align-items: center;
}

#navigation{
  background: rgb(255, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  position: fixed;
  justify-content: space-between;
}

#navigation > ul{
  justify-content: end;
  flex-direction: row;
  column-gap: 2%;
  height: 100%;
  margin: 0 2.5rem 0 0;
}

#navigation > ul li{
  list-style-type: none;
}

.title{
  color: white;
  font-size: 3rem;
  margin-left: 35%;
}
/*----------------More info on character-----------------*/
#characterMoreInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  height: 40%;
  background-color: rgba(73, 48, 0, 1);
  color: white;
  position: absolute;
  top: 7%;
  right: 15%;
  width: 70%;
  overflow-y: scroll;
  scrollbar-color: blue;
  row-gap: 5rem;
  z-index: 1;
}

#bountyImg{
  width: 100%;
  object-fit: fill;
}

#characterMoreInfo > div{
  position: relative;
  width: 95%;
}

#characterSummary{
  width: 50% !important;
}

#charDesc{
  font-size: 1.5rem;
}

#editSeeMoreButton, .closeSeeMore{
  position: absolute;
  top: 0; 
}

#editSeeMoreButton{
  left: -47%;
  margin-top: 2%;
}

.closeSeeMore{
  right: -47%;
  bottom: 100% !important;
  margin-top: 2%;
}

#abilityTrailerContainer{
  float: left;
  width: 27rem;
  height: 27rem;
  margin: 0 2rem 0 0;
}

#abilityTrailer{
  width: 100%;
  height: 100%;
}

.abilityDiv > pre, .abilityDiv > span{
  font-family: Secular One, Arial;
}

.abilityDiv{
  width: 50% !important;
}

.abilityDiv > p{
  line-height: 2rem;
  letter-spacing: 2px;
  font-size: 1rem;
}
/*-------------Stuff---------------------*/
.hidden{
  display: none !important;
}

#overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}
/*------------------Users--------------------*/
#signIn{
  position: absolute;
  top: 5%;
  right: 25%;
}

