/*--------------------General-----------------------*/
body{
  background: orange;
}

html{
  font-family: Montserrat ExtraBold, Arial;
}

button, #addCharBtn{
  cursor: pointer;
}

 main{
  position: relative;
  width: 100%;
  height: 100%;
}  

/*--------------Character Cards------------------*/
div > img{
  width: 19.5rem;
  height: 10rem;
  object-fit: cover;
  object-position: top;
  padding: 2rem 0 0 0;
}

.characterCard{
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2rem 0 0 0;
  padding: 0 0 5rem 0;
  background: azure;
}

#cardSection{
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: relative;
  width: 80%;
  height: 500px;
  padding: 0 0 0 9rem;
  border: 2px solid black;
}
/*----------Forms-------------*/
.updateCard, .addCharacter, .updateSeeMore{
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  position: absolute;
  top: 30%;
  left: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  row-gap: 1rem;
  border-radius: 10px;
  overflow: auto;
}

.closeIt{
  border: none;
  font-family: Montserrat ExtraBold, Arial;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  right: 2%;
  bottom: 2%;
  transition: color 0.15s;
}

.closeIt:hover{
  color: red;
}

.cardDisplayInfo, .createChar{
  height: 2rem;
  width: 30rem;
  border-radius: 20px;
  padding: 0 0 0 1rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

/*-----------Navigation Bar--------------*/
#navigation{
  background: rgb(234, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5%;
}

#navigation > ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 100%;
  margin: 0 2.5rem 0 0;
}

#navigation > ul li{
  list-style-type: none;
}
/*----------------More info on character-----------------*/
#characterMoreInfo{
  height: 50%;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: absolute;
  top: 15%;
  right: 25%;
  height: 115%;
  width: 50%;
  overflow: auto;
}

#bountyImg{
  width: 40%;
  height: 45%;
  object-fit: cover;
}
/*-------------Stuff---------------------*/
.hidden{
  display: none;
  background: black;
}

h1{
  text-align: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 25%;
  margin: 0 0 2% 40%;
  font-size: 3rem;
}

