/*--------------------- Card Styling -------------------------------*/
.supreme{
  box-shadow: 0px 0px 35px rgba(255, 0, 0, 1);
  animation: glow 3s ease-out infinite alternate;
  transition: box-shadow 0.15s;
}

@keyframes glow{
  0% {
    box-shadow: 0px 0px 2px rgba(255, 0, 0, 1);
  }
  15%{
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 1);
  }
  30%{
    box-shadow: 0px 0px 15px rgba(255, 0, 0, 1);
  }
  50%{
    box-shadow: 0px 0px 25px rgba(255, 0, 0, 1);
  }
  100% {
    box-shadow: 0px 0px 55px rgba(255, 0, 0, 1);
  }
}

.legendary{
  box-shadow: 0px 0px 35px rgba(179, 32, 247, 1);
  animation: glow2 3s ease-out infinite alternate;
  transition: box-shadow 0.15s;
}

@keyframes glow2{
  0% {
    box-shadow: 0px 0px 2px rgba(179, 32, 247, 1);
  }
  15%{
    box-shadow: 0px 0px 10px rgba(179, 32, 247, 1);
  }
  30%{
    box-shadow: 0px 0px 15px rgba(179, 32, 247, 1);
  }
  50%{
    box-shadow: 0px 0px 25px rgba(179, 32, 247, 1);
  }
  100% {
    box-shadow: 0px 0px 55px rgba(179, 32, 247, 1);
  }
}

.mighty{
  box-shadow: 0px 0px 35px rgb(0, 132, 255);
}

/*Card Creator*/
.madeBy{
  position: absolute;
  bottom: -7%;
  left: 7%;
}

.cardCreator{
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(70, 253, 253);
  letter-spacing: 1px;
}

/*Upload Image*/
.characterCardUploadImg{
  z-index: 1;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 10%;
  position: absolute;
  top: -11%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
  color: white;
}

.characterCardUploadImg button{
  font-size: 1.5rem;
}

.changeImageBox{
  position: absolute;
  width: 93%;
  height: 42%;
  top: 10.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  color: azure;
}

.changeImageBox:hover{
  background: rgba(88, 87, 87, 0.4);
  opacity: 1;
}

/*----------------More info on character-----------------*/
#characterMoreInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  height: 90%;
  background-color: rgb(58, 58, 58);
  color: white;
  position: absolute;
  top: 7%;
  right: 15%;
  width: 70%;
  overflow-y: scroll;
  scrollbar-color: blue;
  row-gap: 5rem;
  z-index: 1;
}

#characterAbilitiesDesc{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  row-gap: 5rem;
}

#bountyImg{
  width: 100%;
  object-fit: fill;
}

#characterMoreInfo > div, #characterAbilitiesDesc > div{
  position: relative;
  width: 95%;
}

#characterSummary{
  width: 50% !important;
}

#charDesc{
  font-size: 1.5rem;
}

#editSeeMoreButton, .closeSeeMore{
  position: absolute;
  top: 0; 
}

#editSeeMoreButton{
  left: -47%;
  margin-top: 2%;
}

.closeSeeMore{
  right: -47%;
  bottom: 100% !important;
  margin-top: 2%;
}

.abilityTrailerContainer{
  float: left;
  width: 27rem;
  height: 27rem;
  margin: 0 2rem 0 0;
}

.abilityTrailer, .abilityImage{
  width: 100%;
  height: 100%;
}

.abilityImage{
  object-fit: fill;
}

.abilityDiv > pre, .abilityDiv > span{
  font-family: Secular One, Arial;
}

.abilityDiv{
  width: 50% !important;
}

.abilityDiv > p{
  line-height: 2rem;
  letter-spacing: 2px;
  font-size: 1rem;
}

#like-card-form{
  position: absolute;
  top: 10%;
  left: 5%;
}

/*Comment Section*/
#commentSection{
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5%;
  font-family: Arial;
  margin-bottom: 10%;
}

#commentsTitle{
  width: 80%;
  border-bottom: 2px solid grey;
  font-size: 2rem;
}

#postCommentForm{
  width: 80%;
  margin-bottom: 1%;
}

#postComment{
  font-size: 1.5rem;
}

#comments, .commentContainer{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 80%;
}

#comments{
  row-gap: 7%;
}

.commentContainer{
  width: 100%;
  height: 80%;
}

.whoPosted{
  display: flex;
  align-items: center;
  column-gap: 7%;
}

.whoPosted a{
  text-decoration: none;
  color: white;
}

.userPic{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.cardComment{
  padding-left: 5%;
}

.upvoteContainer{
  padding-left: 4%;
}

.cardComment{
  margin-top: 0;
  font-size: 0.95rem;
}

.upvotePic{
  width: 25px;
}

#comment, #reply{
  width: 80%;
  border: none;
  outline: none;
  outline-color: rgba(0, 0, 0, 0.7);
  height: 50%;
  background: rgba(0, 0, 0, 0);
  padding: 1% 0 1% 2%;
  font-size: 1rem;
  color: white;
  transition: border 0.15s;
}

#comment::placeholder, #reply::placeholder{
  color: white;
}

#comment:hover, #reply:hover{
  border-bottom: 1px solid white;
}

#comment:focus, #reply:focus{
  border-bottom: 2px solid white;
}

.likeReplyContainer, .postReplyForm{
  display: flex;
  align-items: center;
}

.likeReplyContainer{
  width: 100%;
  height: 50%;
  column-gap: 5%;
}

.postReplyForm{
  width: 70%;
}

.postReply{
  font-size: 1rem;
}

#reply{
  width: 80%;
}

.replyButton{
  cursor: pointer;
  transition: color 0.15s;
  margin-bottom: 3%;
  padding-left: 4%;
  margin-top: 1%;
}

.repliesContainer{
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.actualReplyContainer{
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.commentReply{
  padding-left: 8%;
  margin-top: 0;
  font-size: 0.95rem;
}

/*------------------Users--------------------*/
#signIn{
  position: absolute;
  top: 11%;
  right: 2%;
  background: grey;
  padding: 1%;
  border-radius: 10px;
}

