#menuContainer{
  background: white;
  position: fixed;
  left: 0;
  top: 8%;
  bottom: 0;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#menuContainer div{
  border: 2px solid black;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

#menuContainer div > a{
  text-decoration: none;
}
